<body>
  <br />
  <div title="" class="speech bubble">
    Welcome to our free social network...😀😀😀
  </div>
  <div align="center">
    <img
      src="assets\imgs\393230015_288401794073380_40932271218148811_n.jpg"
      title="🚫Required field"
    />
  </div>
  <br />
  <footer>
    <h5 style="color: rgb(99, 96, 96)">
      👉 © 2023, My Home_Page ❙❙ social network ❙❙ Szmulikowski Vincent
      (stagiaire technofuturtic / Java-Angular)
    </h5>
    <!--validation de conditions => router link-->
    <input
      type="checkbox"
      id="terms"
      required="required"
      onclick="alert('😁 You will accept the terms and conditions of our social network...     ❎https://data.belgium.be/fr/declaration-de-confidentialite')"
      routerLink="/MyForm"
    />
    <label style="color: black" for="terms" title="🚫Required field"
      >I have read and agree to the terms and conditions.</label
    >
    <p style="color: red">*Required field</p>
  </footer>
  <!--conditions générales acceptation-->
</body>
