<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<div align="center">
  <form method="post" enctype="multipart/form-data">
    <div class="div-contenaire">
      <img
        src="assets/button/avatar_ButtonUpload.png"
        width="3%"
        class="img"
        style="border: 2.5px solid #4b4d4a"
      />
      <h1>
        <label for="profile_pic">upload you avatar!</label>
      </h1>
      <br /><br /><br /><br />
      &#160;&nbsp; &#160;&nbsp;&#160;&nbsp; &#160;&nbsp;<img
        [src]="imageURL"
        width="7%"
        alt="Votre avatar"
        class="img"
      />&#160;&nbsp; &#160;&nbsp;&#160;&nbsp; &#160;&nbsp;

      <label class="custom-file-upload">
        <input
          type="file"
          (change)="onFileChange($event)"
          id="profile_pic"
          name="profile_pic"
          accept=".jpg,.jpeg,.png,"
        />
        Upload you avatar
      </label>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <button
      onclick="window.location.reload ();"
      style="color: rgb(245, 12, 12); border: 2.5px solid #6b7566"
      class="button"
      title="⟳ refresh page"
      value="Clear"
    >
      Refresh Page
    </button>
  </form>
</div>
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<footer align="center">
  <p style="color: rgb(49, 47, 47)">
    👉 © 2023, My upload avatar ❙❙ social network ❙❙ Szmulikowski Vincent
    (stagiaire technofuturtic / Java-Angular)
  </p>
</footer>
